/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.primary-btn {
  background-color: $BlueColor;
  border-radius: 500px;
  height: 44px;
  width: 200px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  &:hover,
  &:focus {
    background-color: $darkBlueColor;
  }
}

@media (min-width: 860px) {
  .primary-btn {
    font-size: 30px;
    border-radius: 500px;
  }
}
