/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.App {
  margin: $spacing-medium auto;
  padding: 0 $spacing-medium;
  max-width: 400px;
}

.App .logo {
  width: 100px;
  margin-bottom: $spacing-large;
}

.primary-btn {
  background-color: $blueColor;
  border-radius: 500px;
  height: 44px;
  width: 200px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border: 0;
  &:hover,
  &:focus {
    background-color: $darkBlueColor;
  }
}

.link-btn {
  font-size: 14px;
  font-weight: bold;
  background-color: transparent;
  border: 0;
  display: inline-flex;
}
