h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 14px;
  font-weight: bold;
}

p,
label {
  font-size: 14px;
}

@media (min-width: 550px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  p,
  label {
    font-size: 18px;
  }
}
