// Main Colors
$yellowColor: #fbd914;
$BlueColor: #0058a3;
$lightGreyColor: #e2e1e2;
$darkGreyColor: #a9a9a8;
$redColor: #a34448;
$blackColor: #000;

//Main spacing styles
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;
$spacing-xlarge: 48px;
